@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pre-float {
  0% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(-20px) scale(1.03);
  }
}

@keyframes float {
  0% {
    transform: translateY(-20px) scale(1.03);
  }
  50% {
    transform: translateY(-10px) scale(1.03);
  }
  100% {
    transform: translateY(-20px) scale(1.03);
  }
}

@keyframes hammering {
  from {
    rotate: 45deg;
  }
  to {
    rotate: -80deg;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }

  40% {
    opacity: 20%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}
