$basic-black: black;
$basic-white: white;

$neutral-primary: #fbfbfb;
$neutral-secondary: #74798c;
$neutral-tertiary: #282D30;

$highlight-primary: #ff0101;
$highlight-secondary: #4ab8ff;
$highlight-tertiary: #fdcc0c;
$highlight-quaternary: #fd5181;

$desktop-margin: 96px;
$mobile-margin: 16px;

$max-desktop-width: 1440px;

//CSS converted variable usable with javascript :
:root {
  --highlight-primary: #{$highlight-primary};
}
