.page-layout {
  height: 0;
  width: 100%;
  flex: 1 1 0px;
  display: flex;

  & .page-body {
    width: 100%;
    margin: 64px $desktop-margin 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include desktop-small {
  .page-layout {
    & .page-body {
      margin: 56px $tablet-margin 80px;
    }
  }
}

@include tablet {
  .page-layout {
    & .page-body {
      margin: 48px $mobile-margin 72px;
    }
  }
}

@include mobile {
  .page-layout {
    flex-direction: column-reverse;
    justify-content: space-between;

    & .page-body {
      width: calc(100% - 2 * $mobile-margin);
    }
  }
}
