.side-bar {
  width: fit-content;
  background-color: $basic-black;
  padding: 144px 24px 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__activities {
    margin-bottom: 96px;
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__copyright {
    color: $basic-white;
    @include typographies(body-small);
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
}
